################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lee
/lee.sln
*.exe
*.recipe
*.ilk
*.pdb
*.obj
*.txt
*.log
*.idb
/x64/Debug/*

